useDynLib( uri )

# Import package dependencies

# Export all names
export( as.char )
export( is.char )

export( interp.crv )
export( interp.sfc )

export( bs )
export( bs2 )
export( fill.nab )
export( fill.naf )
export( fit.ng11 )
export( fit.ng11.opcl )
export( impvol )
export( perm.test )
export( read.yahoo )
export( sim.ng11 )
export( summary2 )
